# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries for Data Science
* List popular tools for data science
* List a few arithmetic expressions for data science

Some of the popular languages that Data Scientists use are:1. Python
2. Rust
3. SQL
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn

| Data Science Tools |
| -------------------|
| Apache Spark |
| RStudio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
x = 2
y = 3 + x
print(y)

5

In [5]:
# This is a simple arithmetic expression to multiply and then add integers.
x = (3*4)+5
print (x)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = x / 60
print ("200 minutes in hours is", y ,"hours")

200 minutes in hours is 3.3333333333333335 hours

## Author
Shivendra Pratap Singh